aws_region         = "ap-southeast-1"
app_name           = "ping-log"
environment        = "production"
mongodb_uri        = "mongodb+srv://user:password@cluster.mongodb.net/ping-log?retryWrites=true&w=majority&appName=ping-log"
better_auth_secret = "replace-with-a-random-string-of-at-least-32-characters"
resend_api_key     = "re_replace_with_your_resend_api_key"
resend_from_email  = "Ping Log <onboarding@resend.dev>"
